# Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 

SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans.Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases.

The CREATE TABLE command creates a new table in the database.

The following SQL creates a table called "Persons" that contains five columns: PersonID, LastName, FirstName, Address, and City:

In [ ]:
"""
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);"""

The DROP TABLE command deletes a table in the database.

The following SQL deletes the table "Shippers":

In [1]:
# DROP TABLE Shippers;

The ALTER TABLE command adds, deletes, or modifies columns in a table.

The ALTER TABLE command also adds and deletes various constraints in a table.

The following SQL adds an "Email" column to the "Customers" table:

In [2]:
# ALTER TABLE Customers
# ADD Email varchar(255);

The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

The following SQL truncates the table "Categories":

In [3]:
# TRUNCATE TABLE Categories;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database. A DML is typically a sublanguage of a larger database language like SQL, with the DML containing some of the language's operators.

The INSERT statement introduces new rows into an existing table.

The DELETE statement removes a row or combination of rows from a table.

The UPDATE statement enables users to update a row or group of rows in a table

The INSERT INTO statement is used to insert new records in a table.
 
It is possible to write the INSERT INTO statement in two ways.
 
The first way specifies both the column names and the values to be inserted.
 
If you are adding values for all the columns of the table, then no need to specify the column names in the SQL query. However, make sure that the order of the values is in the same order as the columns in the table.

In [4]:
"""
INSERT INTO Employee    (EmpId,LastName,FirstName,ADDRESS,City)
VALUES (1, 'XYZ', 'ABC', 'India', 'Mumbai' ); 
  INSERT INTO Employee (EmpId,LastName,FirstName,ADDRESS,City)
VALUES (2, 'X', 'A', 'India', 'Pune' );"""

"\nINSERT INTO Employee    (EmpId,LastName,FirstName,ADDRESS,City)\nVALUES (1, 'XYZ', 'ABC', 'India', 'Mumbai' ); \n  INSERT INTO Employee (EmpId,LastName,FirstName,ADDRESS,City)\nVALUES (2, 'X', 'A', 'India', 'Pune' );"

The UPDATE statement is used to modify the existing records in a table.

In [5]:
"""
UPDATE Employee  
SET FirstName= 'KS', City= 'Pune'  
WHERE EmpId= 1;"""

"\nUPDATE Employee  \nSET FirstName= 'KS', City= 'Pune'  \nWHERE EmpId= 1;"

The DELETE statement is used to delete existing records in a table for a particular Record.

In [6]:
# DELETE FROM Employee WHERE EmpId=1;

# Q4. What is DQL? Explain SELECT with an example.

Ans. The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages

The SELECT statement is used to select data from a database.
 
The data returned is stored in a result table, called the result-set.

In [7]:
# SELECT * FROM table_name;

# Q5. Explain Primary Key and Foreign Key.

Ans. A primary key uniquely identifies a row in a table, while a foreign key is used to link two tables together by referencing the primary key of the related table. The most important difference that you should note here is that a primary key cannot have a NULL value, whereas a foreign key can accept NULL values.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [9]:
"""
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
"""

'\nimport mysql.connector\n# import mysql.connector\n#create user \'user\'@\'%\' identified by \'password\'\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\n'

cursor() must return an instance of <module>. Cursor , and <module>. Cursor. execute() should invoke the statement provided and return the resulting rows.

# Q7. Give the order of execution of SQL clauses in an SQL query.

In [10]:

"""
Order	Clause	Function
1	FROM	Tables are joined to get the base data.
2	WHERE	The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	The grouped base data is filtered.
5	SELECT	The final data is returned.
6	ORDER BY	The final data is sorted.
7	LIMIT	The returned data is limited to row count."""

'\nOrder\tClause\tFunction\n1\tFROM\tTables are joined to get the base data.\n2\tWHERE\tThe base data is filtered.\n3\tGROUP BY\tThe filtered base data is grouped.\n4\tHAVING\tThe grouped base data is filtered.\n5\tSELECT\tThe final data is returned.\n6\tORDER BY\tThe final data is sorted.\n7\tLIMIT\tThe returned data is limited to row count.'