# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Ans.MongoDB is a document database used to build highly available and scalable internet applications. With its flexible schema approach, it's popular with development teams using agile methodologies.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

 MongoDB supports JSON querying, a SQL Database uses SQL query processing. The basic characteristics make MongoDB a more dynamic and complex option that is fit for hierarchical data while a SQL Database remains more predefined and suited for other kinds of data storage

# Q2. State and Explain the features of MongoDB.

These are some important features of MongoDB:

1. Support ad hoc queries:
In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing:
You can index any field in a document.

3. Replication:
MongoDB supports Master Slave replication.

A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

4. Duplication of data:
MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

5. Load balancing:
It has an automatic load balancing configuration because of data placed in shards.

6. Supports map reduce and aggregation tools.

7. Uses JavaScript instead of Procedures.

8. It is a schema-less database written in C++.

9. Provides high performance.

10. Stores files of any size easily without complicating your stack.

11. Easy to administer in the case of failures.

12. It also supports:

JSON data model with dynamic schemas

Auto-sharding for horizontal scalability

Built in replication for high availability

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [11]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://new:new@cluster0.fib1q1c.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [13]:
coll_create = db["my_record"]

In [15]:
data = {"name" : "sudh",
        "class" : "data science masters ",
        "timing " : "flexi"
}
coll_create.insert_one(data)

# Q4. Using the database and the collection created in question number 3, write a code to insert one record,and insert many records. Use the find() and find_one() methods to print the inserted record.

In [17]:
data2 = {"list_course" : ["data science masters " , "web dev " , "java with DSA"],
        "mentor" : ["sudhanshu" , "anurag" , "hyder"]}
coll_create.insert_one(data2)

In [18]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
coll_create.insert_many(data3)

In [19]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('642aee241294ee9ec7526f07'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('642aee8d1294ee9ec7526f08'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('642aeeb11294ee9ec7526f09'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642aeeb11294ee9ec7526f10'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('642aeeb11294ee9ec7526f11'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('642aeeb11294ee9ec7526f12'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642aeeb11294ee9ec7526f13'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('642aeeb11294ee9ec7526f14'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [20]:
coll_create.find_one()

{'_id': ObjectId('642aee241294ee9ec7526f07'),
 'name': 'sudh',
 'class': 'data science masters ',
 'timing ': 'flexi'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

Ans.In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table. It is also used to return all events to the selected data. The find() method consists of two parameters by which we can find a particular record.

In [22]:
for i in coll_create.find({'name': 'Betty'}):
    print(i)

{'_id': ObjectId('642aeeb11294ee9ec7526f0d'), 'name': 'Betty', 'address': 'Green Grass 1'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans.The sort() method sorts the elements of an array in place and returns the reference to the same array, now sorted.

In [23]:
mydoc = coll_create.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('642aee8d1294ee9ec7526f08'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('642aeeb11294ee9ec7526f09'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642aeeb11294ee9ec7526f11'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642aeeb11294ee9ec7526f13'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642aeeb11294ee9ec7526f10'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('642aeeb11294ee9ec7526f14'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642aeeb11294ee9ec7526f12'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642aee241294ee9ec7526f07'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [27]:
#In MongoDB, a single document can be deleted by the method delete_one().
myQuery ={'name':'Ben'}
coll_create.delete_one(myQuery)
for x in coll_create.find():
    print(x)

{'_id': ObjectId('642aee241294ee9ec7526f07'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('642aee8d1294ee9ec7526f08'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('642aeeb11294ee9ec7526f0a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642aeeb11294ee9ec7526f10'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('642aeeb11294ee9ec7526f12'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642aeeb11294ee9ec7526f14'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642aeeb11294ee9ec7526f09'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642aeeb11294ee9ec7526f13'), 'name': 'Chuck', 'address': 'Main Road 989'}

In [32]:
#elete_many() is used when one needs to delete more than one document.
query = {"name": {"$regex": "^V"}}
coll_create.delete_many(query)
for x in coll_create.find():
    print(x)

{'_id': ObjectId('642aee241294ee9ec7526f07'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('642aee8d1294ee9ec7526f08'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('642aeeb11294ee9ec7526f0a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642aeeb11294ee9ec7526f12'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642aeeb11294ee9ec7526f0e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642aeeb11294ee9ec7526f09'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642aeeb11294ee9ec7526f13'), 'name': 'Chuck', 'address': 'Main Road 989'}

In [33]:
#You can delete a table, or collection as it is called in MongoDB, by using the drop() method.
coll_create.drop()
for i in coll_create.find():
    print(i)