### Q1. What is data encoding? How is it useful in data science?

Encoding is the process of converting the data or a given sequence of characters, symbols, alphabets etc., into a specified format, for the secured transmission of data.

Encoding is a technique of converting categorical variables into numerical values so that it could be easily fitted to a machine learning model.

### Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

When we have a feature where variables are just names and there is no order or rank to this variable's feature.  For example: City of person lives in, Gender of person, Marital Status, etcâ€¦ In the above example, We do not have any order or rank, or sequence.

### Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

One-Hot Encoding is the process of creating dummy variables. This technique is used for categorical variables where order does not matter. One-Hot encoding technique is used when the features are nominal(do not have any order). In one hot encoding, for every categorical feature, a new variable is created.

### Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

I will use one-Hot encoding if it has nominal data and it only have 5 unique values as OHE performs well on less number of categorical values.

### Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

If I will use nominal Encoding then I will most probabily use One-Hot encoding  and as data has 2 categorical feature and depending on unique values in boththe features then it would be sum of unique values in both categorical features.

### Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

When we have a feature where variables are just names and there is no order or rank to this variable's feature.I will use one-Hot encoding if it has nominal data

### Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type,monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
## Create a simple dataframe 
df = pd.DataFrame({
    'gender': ['M', 'M', 'M', 'F', 'M', 'F'],'age':[23,32,43,54,21,43],'contract type':['online','offline','online','online','offline','offline'],'monthly charges':[300,547,234,563,532,234],'tenure':[2,2.5,4,3,2,5]
})

In [4]:
df

  gender  age contract type  monthly charges  tenure
0      M   23        online              300     2.0
1      M   32       offline              547     2.5
2      M   43        online              234     4.0
3      F   54        online              563     3.0
4      M   21       offline              532     2.0
5      F   43       offline              234     5.0

In [5]:
##create an instance of Onehotencoder
encoder=OneHotEncoder()

In [7]:
## perform fit and transform
encoded=encoder.fit_transform(df[['gender','contract type']]).toarray()

In [8]:
import pandas as pd
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [9]:
encoder_df

   gender_F  gender_M  contract type_offline  contract type_online
0       0.0       1.0                    0.0                   1.0
1       0.0       1.0                    1.0                   0.0
2       0.0       1.0                    0.0                   1.0
3       1.0       0.0                    0.0                   1.0
4       0.0       1.0                    1.0                   0.0
5       1.0       0.0                    1.0                   0.0